<div class="navbar navbar-light justify-content-between">
  <div class="row">
    <div class="col-md-6">
      <div class="text-left px-5">
        <a routerLink="" class="navbar-brand text-light p-1 py-1">
          <h2 style="font-weight: 700;color: whitesmoke;font-style: italic;font-size: xx-large;">MMDb</h2>
        </a>
      </div>
    </div>
    <div class="col-md-6 my-4">
      <form class="form-inline d-flex float-right">
        <input class="form-control mr-sm-2" type="search" name="search" [(ngModel)]="searchQuery"
          placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-light mx-3 my-2" type="button" (click)="searchMovies()">Search</button>
      </form>
    </div>
  </div>
</div>



<div class="container-fluid justify-content-center" *ngIf="moviedetails">
  <div class="search-movies-list px-5 py-1">
    <div *ngFor="let movie of movies" class="movie-card p-3" (click)="showMovieDetails(movie)">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" class="movie-poster"
        alt="{{ movie.title }} Poster">
      <p class="movie-rating px-4"><span style="font-style: italic;">{{movie.title}}</span>  | &nbsp;&nbsp;&nbsp; <span style="background-color: lightgreen; border-radius: 40%;padding: 3%;padding: 3%; color: rgb(245, 113, 98);">{{ movie.vote_average }}</span></p>
    </div>
  </div>
</div>
